.parrafo {
    display: flex;
    flex-direction: column;

    h1 {
        justify-content: center;
        text-align: center;
    }

    h2 {
        justify-content: center;
        text-align: center;
    
    }
}

.texto_img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 2rem;

    .parrafo {
        font-size: 1.5em;
        width: 80%;
    }

    img {
        width: 85%;
        margin-left: 2rem;
    }
}

